<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TecnocomWrapper.unicard.sdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="tecnocom.sdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TecnocomWrapper.unicard.sdk.Properties.Settings>
            <setting name="tecnocom_sdk_AutorizadorLineas_CE_CECL0TL_SMUv10"
                serializeAs="String">
                <value>https://procemisorqachile:448/axis2SMU/services/CE_CECL0TL_SMUv10.CE_CECL0TL_SMUv10HttpsSoap11Endpoint/</value>
            </setting>
            <setting name="tecnocom_sdk_ModificacionLineaContrato_CE_CEMO0LT_SMUv10"
                serializeAs="String">
                <value>https://procemisorqachile:448/axis2SMU/services/CE_CEMO0LT_SMUv10.CE_CEMO0LT_SMUv10HttpsSoap11Endpoint/</value>
            </setting>
            <setting name="TecnocomWrapper_unicard_sdk_ListaLimitesYSaldosPorReferencia_CE_CECL0LS_SMUv10"
                serializeAs="String">
                <value>https://procemisorqachile:448/axis2SMU/services/CE_CECL0LS_SMUv10.CE_CECL0LS_SMUv10HttpsSoap11Endpoint/</value>
            </setting>
            <setting name="TecnocomWrapper_unicard_sdk_ConsultaPansPorRut_CE_CECOURP_SMUv10"
                serializeAs="String">
                <value>https://procemisorqachile:448/axis2SMU/services/CE_CECOURP_SMUv10.CE_CECOURP_SMUv10HttpsSoap11Endpoint/</value>
            </setting>
            <setting name="TecnocomWrapper_unicard_sdk_AcuseDeRecibo_CE_CEMO0RE_SMUv10"
                serializeAs="String">
                <value />
            </setting>
            <setting name="TecnocomWrapper_unicard_sdk_RelacionTarjetasCuenta_CE_CECL0TC_SMUv10"
                serializeAs="String">
                <value>https://procemisorqachile:448/axis2SMU/services/CE_CECL0TC_SMUv10.CE_CECL0TC_SMUv10HttpsSoap11Endpoint/</value>
            </setting>
            <setting name="TecnocomWrapper_unicard_sdk_ConsultaMediosContactoPersona_CE_CECL0CO_v10"
                serializeAs="String">
                <value />
            </setting>
            <setting name="TecnocomWrapper_unicard_sdk_BusquedaPersonasPorPan_CE_CECO0P2_v10"
                serializeAs="String">
                <value />
            </setting>
            <setting name="TecnocomWrapper_unicard_sdk_PrePagoDiezDias_CE_CECO005_SMUv10"
                serializeAs="String">
                <value />
            </setting>
        </TecnocomWrapper.unicard.sdk.Properties.Settings>
        <tecnocom.sdk.Properties.Settings>
            <setting name="tecnocom_sdk_AutorizadorLineas_CE_CECL0TL_SMUv10" serializeAs="String">
                <value>https://procemisorqachile:448/axis2SMU/services/CE_CECL0TL_SMUv10.CE_CECL0TL_SMUv10HttpsSoap11Endpoint/</value>
            </setting>
            <setting name="tecnocom_sdk_ModificacionLineaContrato_CE_CEMO0LT_SMUv10" serializeAs="String">
                <value>https://procemisorqachile:448/axis2SMU/services/CE_CEMO0LT_SMUv10.CE_CEMO0LT_SMUv10HttpsSoap11Endpoint/</value>
            </setting>
        </tecnocom.sdk.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
