<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connectionStringCanales" connectionString="Data Source=10.24.0.15\Canales; Initial Catalog=DB_Canales;User Id = EXT_Inob_Vruminot; Password = Xs](dS27l:H.HYh_8Pq+;" />
    <add name="connectionStringAtencionCliente" connectionString="Data Source=10.24.0.15\Canales; Initial Catalog=DB_AtencionCliente;User Id = EXT_Inob_Vruminot; Password = Xs](dS27l:H.HYh_8Pq+;" />
  </connectionStrings>
  <appSettings>
    <add key="GeneradorPdf.Api.Url" value="http://10.24.0.137:8081" />
    <add key="Tecnocom-Service:HostHttps" value="172.20.215.144:448" />
    <add key="InformacionFinanciera.Api.Url" value="https://api-desa.unicard.cl:8245" />
    <add key="InformacionFinanciera.Api.BasicAuthToken" value="cUZqbGZhTmNYQ0tsTENCVTFmYllnVTg3UmFzYTpTZktyXzBURWVqUWRfMkV5WWZlV3ZyUE11bG9h" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.0.0.0" newVersion="106.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewRelic.Api.Agent" publicKeyToken="06552fced0b33d87" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.25.214.0" newVersion="8.25.214.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>